# advent cookie
.cookie

# python
*.egg_info/
*.egg
__pycache__/

# python venv 
advent_venv/
venv/
*.cpython-310.pyc
*.pyc
*/__pycache__/*

# rust/cargo
*/target
cargo.lock
.env
input/
inputs/
rust-aoc/.vscode/

# puzzle inputs at root folder
data/*/

# zig
zig-cache/
zig-out/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/

# haskell
*.hi

# C + misc
*.o

# mac garbage
.DS_Store